<div data-elementor-type="wp-post" data-elementor-id="2805" class="elementor elementor-2805">
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-81360bd elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="81360bd" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-f1ab521"
        data-id="f1ab521" data-element_type="column"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-f4a04b0 elementor-widget elementor-widget-image"
            data-id="f4a04b0" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container" style="margin-top: -30px;"> <a href="#">
                <img src="assets\img\Group 9 (1).png" class="attachment-full size-full wp-image-4056" alt=""
                  style="height: 70px; width: 280px;" /> </a></div>
          </div>
          <div class="elementor-element elementor-element-1c3bd23 elementor-widget elementor-widget-text-editor"
            data-id="1c3bd23" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
              <p>Our goal is to supply clean water to people who can not access to safe water.</p>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-f980a82 elementor-widget__width-auto elementor-widget elementor-widget-ova_social"
            data-id="f980a82" data-element_type="widget" data-widget_type="ova_social.default">
            <div class="elementor-widget-container">
              <div class="ova_social ova-framework-social-icons-wrapper">
                <div class="content"> <a
                    class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-facebook-square"
                    style=" background-color: #465FDD" href="#" target="_blank"> <span
                      class="ova-framework-screen-only">Facebook-square</span> <i class="fa fa-facebook-square"
                      style=" color: #FFFFFF"></i> </a> <a
                    class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-twitter"
                    style=" background-color: #56B4E5" href="#" target="_blank"> <span
                      class="ova-framework-screen-only">Twitter</span> <i class="fa fa-twitter"
                      style=" color: #FFFFFF"></i> </a> <a
                    class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-instagram"
                    style=" background-color: #5374A0" href="#" target="_blank"> <span
                      class="ova-framework-screen-only">Instagram</span> <i class="fa fa-instagram"
                      style=" color: #FFFFFF"></i> </a> <a
                    class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-youtube"
                    style=" background-color: #D8423F" href="#" target="_blank"> <span
                      class="ova-framework-screen-only">Youtube</span> <i class="fa fa-youtube"
                      style=" color: #FFFFFF"></i> </a>

                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-f980a82 elementor-widget__width-auto elementor-widget elementor-widget-ova_social"
            data-id="f980a82" data-element_type="widget" data-widget_type="ova_social.default">
            <div class="elementor-widget-container mt-3">
              <div class="ova_social ova-framework-social-icons-wrapper">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <!-- <div class="elementor-element elementor-element-1bef318 elementor-widget elementor-widget-heading"
                    data-id="1bef318" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                      <h4 class="elementor-heading-title elementor-size-default">Support</h4>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-6888b01 elementor-widget elementor-widget-text-editor mt-0"
                    data-id="6888b01" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container ">
                      <p class="mt-0">With enthusiastic employees and volunteers, we are ready to support you no matter
                        any time.</p>
                    </div>
                  </div> -->
                  <div
                    class="elementor-element elementor-element-498a8cf elementor-widget elementor-widget-ova_button donate_homebtn"
                    data-id="498a8cf" data-element_type="widget" data-widget_type="ova_button.default">
                    <div class="elementor-widget-container mt-3 ">
                      <div class="ova-btn "> <a href="/DonateNow" class="btn"> <i class="fas fa-heart"></i> Donate </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-0d232dd "
        data-id="0d232dd" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated  ">
          <div class="elementor-element elementor-element-f778520 elementor-widget elementor-widget-heading text-center"
            data-id="f778520" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container ">
              <h4 class="elementor-heading-title elementor-size-default explore_name " style="text-align: end; font-size: 30px;">Explore</h4>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-200271b elementor-widget__width-auto elementor-widget elementor-widget-ova_menu_page"
            data-id="200271b" data-element_type="widget" data-widget_type="ova_menu_page.default">
            <div class="elementor-widget-container">
              <div class="ova_menu_page type1 " data-position_active="">
                <div class="container footer_item">
                  <ul id="menu-footer1" class="menu">
                    <li id="menu-item-2822"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2822 active">
                      <a title="Dontate" href="/about">About</a>
                    </li>
                    <li id="menu-item-2823"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2823 active">
                      <a title="Campaigns" href="/founderview">Founders View</a>
                    </li>
                    <li id="menu-item-2824"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2824 active">
                      <a title="Fundraise" href="/importsnfproject">Important SNF Project</a>
                    </li>
                    <li id="menu-item-2825"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2825 active">
                      <a title="Volunteers" href="/teamsnf">Team SNF</a>
                    </li>
                    <li id="menu-item-2826"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2826 active">
                      <a title="Sponsors" href="/visionmission">Vision / mission</a>
                    </li>
                    <li id="menu-item-2826"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2826 active">
                      <a title="Sponsors" href="/snfoverview">SNF Overview</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
      <div 
        class="elementor-element elementor-element-200271b elementor-widget__width-auto elementor-widget elementor-widget-ova_menu_page footermenu_item2"
        data-id="200271b" data-element_type="widget" data-widget_type="ova_menu_page.default">
        <div class="elementor-widget-container footer_menu">
          <div class="ova_menu_page type1 footer_item" data-position_active="">
            <div class="container mt-5 ">
              <ul id="menu-footer1" class="menu">
                <ul id="menu-footer1" class="menu">

                  <li id="menu-item-2823"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2823 active">
                    <a title="Campaigns" href="/mediaarticle">Articles on SNF</a>
                  </li>
                  <li id="menu-item-2824"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2824 active">
                    <a title="Fundraise" href="/medianewspapers">SNF In newspaper</a>
                  </li>
                  <li id="menu-item-2825"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2825 active">
                    <a title="Volunteers" href="/mediadocumentry">SNF TV news/Documentries</a>
                  </li>
                  <li id="menu-item-2826"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2826 active">
                    <a title="Sponsors" href="/mediaawards">Award And Recognition</a>
                  </li>
                  <!-- <li id="menu-item-2826"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2826 active">
                    <a title="Sponsors" href="/snfoverview">SNF Overview</a>
                  </li> -->
                  <!-- <li id="menu-item-2826"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2826 active">
                    <a title="Sponsors" href="/mediadocumentry">SNF TV/News and Documentries</a>
                  </li> -->
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-dd94a3c"
        data-id="dd94a3c" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-286dd49 elementor-widget elementor-widget-heading"
            data-id="286dd49" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h4 class="elementor-heading-title elementor-size-default explore_name" style="font-size: 30px;">Contact</h4>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-9fd7764 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-ova_contact_info"
            data-id="9fd7764" data-element_type="widget" data-widget_type="ova_contact_info.default">
            <div class="elementor-widget-container">
              <div class="ova-contact-info type1">
                <div class="icon"> <i class="fas fa-phone-square-alt"></i></div>
                <div class="address"> <span class="text_link"><a href='tel:6668880000'>
                      <span>+91 7588979986 <br> +91 9421609987</span></a></span></div>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-add89e3 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-ova_contact_info"
            data-id="add89e3" data-element_type="widget" data-widget_type="ova_contact_info.default">
            <div class="elementor-widget-container" >
              <div class="ova-contact-info type1">
                <div class="icon"> <i class="fas fa-envelope"></i></div>
                <div class="address "> <span class="text_link"><a
                      href="/cdn-cgi/l/email-protection#f29c9797969a979e82b2919d9f82939c8bdc919d9f">
                      <span><span class="__cf_email__"
                          data-cfemail="553b3030313d30392515363a3825343b2c7b363a38"><a href="https://socialforum@gmail.com">socialforum@gmail.com</a>

                        </span></span></a></span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-64a3540 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-ova_contact_info"
            data-id="64a3540" data-element_type="widget" data-widget_type="ova_contact_info.default">
            <div class="elementor-widget-container">
              <div class="ova-contact-info type1">
                <div class="icon"> <i class="fas fa-map-marker-alt"></i></div>
                <div class="address address_footer"> <span class="text_link"><a href="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d119970.1556483863!2d73.69643855831127!3d20.005687237872202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bddeb9ba2726851%3A0xa0f8aa35a361b1d2!2ssilicon+valley+nashik!3m2!1d20.005701!2d73.76647899999999!5e0!3m2!1sen!2sin!4v1507617655469">3rd Floor, Vitthal Charani Sankul, Off Big Bazaar, College
                    Road, Nashik, Maharashtra- 422005 .</a></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-a0b1a0a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="a0b1a0a" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">

    <p class="elementor-heading-title elementor-size-default text-center" style="color: white; padding: -20px;">
      Copyright 2024 by <a href="https://www.sumagoinfotech.com/"><img src="../../assets/img/sumagologo.png"
          class="img-fluid" alt="..." width="30px" height="30px"></a> Sumago Infotech Pvt Ltd</p>
    <div class="elementor-container elementor-column-gap-default">
      <!-- <div class="elementor-column elementor-top-column elementor-element elementor-element-55c305b"
        data-id="55c305b" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-e698c42 elementor-widget elementor-widget-heading"
            data-id="e698c42" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
               <h4 class="elementor-heading-title elementor-size-default text-cente">© Copyright 2024 by Sumago Infotech Pvt Ltd</h4> 
            </div>
          </div>
        </div>
      </div>  -->
      <!-- <div
          class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-89236bc"
          data-id="89236bc" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-7e1fd20 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button"
              data-id="7e1fd20" data-element_type="widget" data-widget_type="button.default">
              <div class="elementor-widget-container">
                <div class="elementor-button-wrapper"> <a
                    class="elementor-button elementor-button-link elementor-size-sm"
                    href="https://demo.ovatheme.com/asting/"> <span class="elementor-button-content-wrapper"> <span
                        class="elementor-button-text">Privacy Policy </span> </span> </a>
                </div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-9d975c9 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button"
              data-id="9d975c9" data-element_type="widget" data-widget_type="button.default">
              <div class="elementor-widget-container">
                <div class="elementor-button-wrapper"> <a class="elementor-button elementor-size-sm" role="button">
                    <span class="elementor-button-content-wrapper"> <span class="elementor-button-text">/</span>
                    </span> </a></div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-664aad8 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button"
              data-id="664aad8" data-element_type="widget" data-widget_type="button.default">
              <div class="elementor-widget-container">
                <div class="elementor-button-wrapper"> <a
                    class="elementor-button elementor-button-link elementor-size-sm"
                    href="https://demo.ovatheme.com/asting/"> <span class="elementor-button-content-wrapper"> <span
                        class="elementor-button-text">Terms of Condition</span> </span> </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </section>
</div>