<div data-elementor-type="wp-post" data-elementor-id="2805" class="elementor elementor-2805">
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-81360bd elementor-section-boxed elementor-section-height-default elementor-section-height-default"
      data-id="81360bd" data-element_type="section"
      data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
      <div class="elementor-container elementor-column-gap-default">
        <div
          class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-f1ab521"
          data-id="f1ab521" data-element_type="column"
          data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-f4a04b0 elementor-widget elementor-widget-image"
              data-id="f4a04b0" data-element_type="widget" data-widget_type="image.default">
              <div class="elementor-widget-container"> <a href="#">
                  <img src="assets\img\Group 9 (1).png"
                    class="attachment-full size-full wp-image-4056" alt="" style="height: 100px; width: 300px;"/> </a></div>
            </div>
            <div class="elementor-element elementor-element-1c3bd23 elementor-widget elementor-widget-text-editor"
              data-id="1c3bd23" data-element_type="widget" data-widget_type="text-editor.default">
              <div class="elementor-widget-container">
                <p>Asting is a non-profit organization to support people worldwide and keep an eye
                  in the future Support.</p>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-f980a82 elementor-widget__width-auto elementor-widget elementor-widget-ova_social"
              data-id="f980a82" data-element_type="widget" data-widget_type="ova_social.default">
              <div class="elementor-widget-container">
                <div class="ova_social ova-framework-social-icons-wrapper">
                  <div class="content"> <a
                      class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-facebook-square"
                      style=" background-color: #465FDD" href="#" target="_blank"> <span
                        class="ova-framework-screen-only">Facebook-square</span> <i class="fa fa-facebook-square"
                        style=" color: #FFFFFF"></i> </a> <a
                      class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-twitter"
                      style=" background-color: #56B4E5" href="#" target="_blank"> <span
                        class="ova-framework-screen-only">Twitter</span> <i class="fa fa-twitter"
                        style=" color: #FFFFFF"></i> </a> <a
                      class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-instagram"
                      style=" background-color: #5374A0" href="#" target="_blank"> <span
                        class="ova-framework-screen-only">Instagram</span> <i class="fa fa-instagram"
                        style=" color: #FFFFFF"></i> </a> <a
                      class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-youtube"
                      style=" background-color: #D8423F" href="#" target="_blank"> <span
                        class="ova-framework-screen-only">Youtube</span> <i class="fa fa-youtube"
                        style=" color: #FFFFFF"></i> </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-0d232dd"
          data-id="0d232dd" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-f778520 elementor-widget elementor-widget-heading"
              data-id="f778520" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h4 class="elementor-heading-title elementor-size-default">Explore</h4>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-200271b elementor-widget__width-auto elementor-widget elementor-widget-ova_menu_page"
              data-id="200271b" data-element_type="widget" data-widget_type="ova_menu_page.default">
              <div class="elementor-widget-container">
                <div class="ova_menu_page type1 " data-position_active="">
                  <ul id="menu-footer1" class="menu">
                    <li id="menu-item-2822"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2822 active">
                      <a title="Dontate" href="#">Dontate</a>
                    </li>
                    <li id="menu-item-2823"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2823 active">
                      <a title="Campaigns" href="#">Campaigns</a>
                    </li>
                    <li id="menu-item-2824"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2824 active">
                      <a title="Fundraise" href="https://demo.ovatheme.com/asting/">Fundraise</a>
                    </li>
                    <li id="menu-item-2825"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2825 active">
                      <a title="Volunteers" href="https://demo.ovatheme.com/asting/">Volunteers</a>
                    </li>
                    <li id="menu-item-2826"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2826 active">
                      <a title="Sponsors" href="https://demo.ovatheme.com/asting/">Sponsors</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-c401c68 elementor-widget__width-auto elementor-widget elementor-widget-ova_menu_page"
              data-id="c401c68" data-element_type="widget" data-widget_type="ova_menu_page.default">
              <div class="elementor-widget-container">
                <div class="ova_menu_page type1 " data-position_active="">
                  <ul id="menu-footer2" class="menu">
                    <li id="menu-item-2827"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2827 active">
                      <a title="Fundraising" href="https://demo.ovatheme.com/asting/">Fundraising</a>
                    </li>
                    <li id="menu-item-2828"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2828 active">
                      <a title="Contact" href="https://demo.ovatheme.com/asting/">Contact</a>
                    </li>
                    <li id="menu-item-2829"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2829 active">
                      <a title="Help" href="https://demo.ovatheme.com/asting/">Help</a>
                    </li>
                    <li id="menu-item-2830"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2830 active">
                      <a title="Faqs" href="https://demo.ovatheme.com/asting/">Faqs</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-dd94a3c"
          data-id="dd94a3c" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-286dd49 elementor-widget elementor-widget-heading"
              data-id="286dd49" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h4 class="elementor-heading-title elementor-size-default">Contact</h4>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-9fd7764 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-ova_contact_info"
              data-id="9fd7764" data-element_type="widget" data-widget_type="ova_contact_info.default">
              <div class="elementor-widget-container">
                <div class="ova-contact-info type1">
                  <div class="icon"> <i class="fas fa-phone-square-alt"></i></div>
                  <div class="address"> <span class="text_link"><a href='tel:6668880000'>
                        <span>+91 7588979986</span></a></span></div>
                </div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-add89e3 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-ova_contact_info"
              data-id="add89e3" data-element_type="widget" data-widget_type="ova_contact_info.default">
              <div class="elementor-widget-container">
                <div class="ova-contact-info type1">
                  <div class="icon"> <i class="fas fa-envelope"></i></div>
                  <div class="address"> <span class="text_link"><a
                        href="/cdn-cgi/l/email-protection#f29c9797969a979e82b2919d9f82939c8bdc919d9f">
                        <span><span class="__cf_email__"
                            data-cfemail="553b3030313d30392515363a3825343b2c7b363a38">socialforum10@gmail.com</span></span></a></span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-64a3540 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-ova_contact_info"
              data-id="64a3540" data-element_type="widget" data-widget_type="ova_contact_info.default">
              <div class="elementor-widget-container">
                <div class="ova-contact-info type1">
                  <div class="icon"> <i class="fas fa-map-marker-alt"></i></div>
                  <div class="address"> <span class="text_link">666 road, broklyn street new york
                      600</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-1eeb967"
          data-id="1eeb967" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-1bef318 elementor-widget elementor-widget-heading"
              data-id="1bef318" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h4 class="elementor-heading-title elementor-size-default">Support</h4>
              </div>
            </div>
            <div class="elementor-element elementor-element-6888b01 elementor-widget elementor-widget-text-editor"
              data-id="6888b01" data-element_type="widget" data-widget_type="text-editor.default">
              <div class="elementor-widget-container">
                <p>With enthusiastic employees and volunteers, we are ready to support you no matter
                  any time.</p>
              </div>
            </div>
            <div class="elementor-element elementor-element-498a8cf elementor-widget elementor-widget-ova_button"
              data-id="498a8cf" data-element_type="widget" data-widget_type="ova_button.default">
              <div class="elementor-widget-container">
                <div class="ova-btn"> <a href="https://demo.ovatheme.com/asting/donations/" class="btn"> <i
                      class="fas fa-heart"></i> Donate </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-a0b1a0a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
      data-id="a0b1a0a" data-element_type="section"
      data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
      <div class="elementor-container elementor-column-gap-default">
        <div
          class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-55c305b"
          data-id="55c305b" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-e698c42 elementor-widget elementor-widget-heading"
              data-id="e698c42" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h4 class="elementor-heading-title elementor-size-default">© Copyright 2024 by
                  Sumago Infotech Pvt Ltd</h4>
              </div>
            </div>
          </div>
        </div>
        <div
          class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-89236bc"
          data-id="89236bc" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-7e1fd20 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button"
              data-id="7e1fd20" data-element_type="widget" data-widget_type="button.default">
              <div class="elementor-widget-container">
                <div class="elementor-button-wrapper"> <a
                    class="elementor-button elementor-button-link elementor-size-sm"
                    href="https://demo.ovatheme.com/asting/"> <span class="elementor-button-content-wrapper"> <span
                        class="elementor-button-text">Privacy Policy </span> </span> </a>
                </div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-9d975c9 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button"
              data-id="9d975c9" data-element_type="widget" data-widget_type="button.default">
              <div class="elementor-widget-container">
                <div class="elementor-button-wrapper"> <a class="elementor-button elementor-size-sm" role="button">
                    <span class="elementor-button-content-wrapper"> <span class="elementor-button-text">/</span>
                    </span> </a></div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-664aad8 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button"
              data-id="664aad8" data-element_type="widget" data-widget_type="button.default">
              <div class="elementor-widget-container">
                <div class="elementor-button-wrapper"> <a
                    class="elementor-button elementor-button-link elementor-size-sm"
                    href="https://demo.ovatheme.com/asting/"> <span class="elementor-button-content-wrapper"> <span
                        class="elementor-button-text">Terms of Condition</span> </span> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>