.HEAD_START{
    text-align: center;
    padding-top: 40px;
    background-color: rgb(235, 237, 238);
    height: auto;
}
#ON_GOING_NAME{
    color: orange;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#IMG_LOGO{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
#IMG_LOGO:hover{
    box-shadow: 0 30px 40px 0 rgba(0,0,0,0.2);
}
#Clean_Water{
    text-align: center;
    color: red;
    font-size: 20px;
}
#para{
    text-align: justify;
    padding-right: 10px;
}
#PROJECT_CARRIED{
    color: red;
    font-size: 30px;
}
#IMG_NAME{
    color: blue;
    font-size: 15px;
}

#CARD_IMG{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
#CARD_IMG:hover{
    box-shadow: 0 30px 40px 0 rgba(0,0,0,0.2);

}