<app-header></app-header>

<div class="donation-container">
    <div class="donation-details">
        <!-- <h2 style="text-align: center;"><b>DONATE NOW</b></h2> -->
        <div class="donate-header" style="background-image: url('../../../assets/img/Banners/about\ us.jpg');">
            <!-- <img src="assets/img/SNF new logo 2020.jpeg"> -->
            <!-- <h2><b>DONATE NOW </b></h2> -->
            <div data-elementor-type="wp-post" data-elementor-id="3023" class="elementor elementor-3023">

                <div class="elementor-widget-container ">
                    <div class="ova-heading text-center">
                        <h2 class="title second_font mt-5" style="color: white;">
                            AN OVERVIEW
                        </h2>
                        <h4 class="sub_title thrid_font " style="color: white;">Social Networking Forum</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mt-3">
            <h1 class=" pt-5" style="display: inline; color: black; font-family: Abril Fatface;">DONATE NOW</h1>
        </div>
        <div class="container mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card" style="border-radius: 30px; border: none;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="background-color: #DFBB41; color: white;">THANK YOU
                                    FOR YOUR WISH TO DONATE</li>
                                <li class="list-group-item" style="background-color: #F6F6F6;">
                                    <ul>
                                        <li>Registerd Under Indian Public Trust Act 1950</li>
                                        <li>Reg. No. F-15528 - Nashik</li>
                                        <li>Societies Registration Act 1860</li>
                                        <li>Reg. No. MAH/3041/N</li>
                                        <li>Under Section 12AA Of The Income Tax Act 1961</li>
                                        <li>1086/493/2016-17/7751</li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <br>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="../../../assets/img/donate page img.png" alt="donate img" class="img-fluid"
                            style="height: 300px; width: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="card" >
                <div class="card-header text-center" style="background-color: #DF5225;">
                    <b style="color: white;">BANK ACCOUNT DETAILS</b>
                </div>
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item" style="background-color: #f5efef">
                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Bank Name</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            State Bank of India, Sharanpur Road Branch, Nashik 422002
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Account Name</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            Social Networking Forum
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Account Number</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            34691906559
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Account Type</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            Current
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>IFSC</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            SBIN0060431
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>MICR</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            422002017
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container mt-5">
            <div class="card" >
                <div class="card-header text-center" style="background-color: #DF5225;">
                    <b style="color: white;">BANK ACCOUNT DETAILS</b>
                </div>
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item" style="background-color: #f5efef">
                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Bank Name</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            State Bank of India, Sharanpur Road Branch, Nashik 422002
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Account Name</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            Social Networking Forum
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Account Number</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            34691906559
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Account Type</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            Current
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>IFSC</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            SBIN0060431
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>MICR</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            422002017
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="container mt-5">
            <div class="card" >
                <div class="card-header text-center" style="background-color: #DF5225;">
                    <b style="color: white;">BANK ACCOUNT DETAILS</b>
                </div>
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item" style="background-color: #f5efef">
                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Bank Name</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            State Bank of India, Sharanpur Road Branch, Nashik 422002
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Account Name</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            Social Networking Forum
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Account Number</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body " id="data_card">
                                            34691906559
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>Account Type</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            Current
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>IFSC</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            SBIN0060431
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container my-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card" >
                                        <div class="card-body text-center">
                                            <b>MICR</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="card">
                                        <div class="card-body" id="data_card">
                                            422002017
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>






       
        <!-- <h3 style="text-align: center;">THANK YOU FOR YOUR WISH TO DONATE</h3>
        <p style="color: rgb(0, 0, 139);text-align: center;">Social Networking Forum</p>
        <p class="test-p" style="text-align: center;">Registered Under Indian Public Trust Act 1950
            Reg. No. F-15528 - Nashik</p>
        <p style="text-align: center;">Societies Registration Act 1860
            Reg. No. MAH/3041/N</p>
        <p style="text-align: center;"> Under Section 12AA Of The Income Tax Act 1961
            1086/493/2016-17/7751</p>

        <h3 style="text-align: center;">BANK ACCOUNT DETAILS</h3>
        <hr class="full-width-divider">
        <h3 style="text-align: center; color: black;">Please Transfer Your Donation In Any One Of The Following Bank
            Accounts</h3> -->

        <!-- <div class="bank-details" style="text-align: center;">
            <h4>{{ banks[0].bankName }}</h4>
            <p><strong>Account Name:</strong> {{ banks[0].accountName }}</p>
            <p><strong>Account Number:</strong> {{ banks[0].accountNumber }}</p>
            <p><strong>Account Type:</strong> {{ banks[0].accountType }}</p>
            <p><strong>IFSC Code:</strong> {{ banks[0].ifscCode }}</p>
            <p><strong>MICR Code:</strong> {{ banks[0].micrCode }}</p>
            <hr class="full-width-divider">
        </div>

        <div class="bank-details" style="text-align: center;">
            <h4>{{ banks[1].bankName }}</h4>
            <p><strong>Account Name:</strong> {{ banks[1].accountName }}</p>
            <p><strong>Account Number:</strong> {{ banks[1].accountNumber }}</p>
            <p><strong>Account Type:</strong> {{ banks[1].accountType }}</p>
            <p><strong>IFSC Code:</strong> {{ banks[1].ifscCode }}</p>
            <p><strong>MICR Code:</strong> {{ banks[1].micrCode }}</p>
            <hr>
        </div>

        <div class="bank-details" style="text-align: center;">
            <h4>{{ banks[2].bankName }}</h4>
            <p><strong>Account Name:</strong> {{ banks[2].accountName }}</p>
            <p><strong>Account Number:</strong> {{ banks[2].accountNumber }}</p>
            <p><strong>Account Type:</strong> {{ banks[2].accountType }}</p>
            <p><strong>IFSC Code:</strong> {{ banks[2].ifscCode }}</p>
            <p><strong>MICR Code:</strong> {{ banks[2].micrCode }}</p>
            <hr>
        </div> -->
        <div class="buttons-container">
            <button (click)="printPage()">PRINT</button>
            <button (click)="downloadDetails()">DOWNLOAD</button>
        </div>
    </div>
</div>

<app-footer></app-footer>