elementor-3227 .elementor-element.elementor-element-06c34f9 .ova-contact-info .address a,
.elementor-3227 .elementor-element.elementor-element-06c34f9 .ova-contact-info .address,
.elementor-3227 .elementor-element.elementor-element-06c34f9 .ova-contact-info .address span {
    font-family: "Rubik", Sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: orange;
}

.elementor-3227 .elementor-element.elementor-element-9f1794a {
    color: #2c2734;
    font-family: "Shadows Into Light", Sans-serif;
    font-size: 35px;
    line-height: 30px;
    margin-left: 30px; 
  margin-bottom: 0px;
}