.custom_give {
    height: auto;
    padding: 15px 30px;
    transition: .3s all ease;
    color: #fff;
    background-color: #ff6d12;
    border-color: #ff6d12;
    border: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    left: 0;
    bottom: -75px;
    margin-bottom: 20px;
}