.ova-heading .title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    color: #2c2734;
    margin: 0;
    margin-bottom: -20px;
}

.Who_we_are {
    background-image: url('../../../assets/img/About us/aboutback_img.png');
    margin-top: -60px;
    background-size: contain;

}

@media only screen and (max-width: 600px) {
    .youtube_video {
        margin-bottom: -90px;
    }
}