/* Add your existing styles here */

.stylish-list {
    padding-left: 20px;
    /* Adjust the padding as needed */
}

.stylish-list li {
    position: relative;
    margin-bottom: 10px;
    list-style: none;
}

.stylish-list li:before {
    content: "\2023";
    font-size: 40px;
    color: orange;
    position: absolute;
    left: -20px;
}

.ova-heading {
    text-align: left;
    margin-bottom: 0;
}

.ova-heading .title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    color: #2c2734;
    margin: 0;
    margin-bottom: 20px;
}