.card {
    position: relative;
    overflow: hidden;
}

/* .card img {
    transition: transform 0.5s ease;
    width: 100%;
}

.card:hover img {
    transform: scale(1.1);
} */

/* .card-body {
    transition: transform 0.5s ease, color 0.2s ease;
} */

.card:hover .card-body {
    /* transform: scale(1.1); */
    /* color: orange; */
}
.tabbuttton{
    background: #139F9F;
    color: white !important;
    font-weight: 600;
    border-radius: 30px;
}
.nav-tabs {
    border-bottom: 0px solid #ffffff  !important; 
}
.card:hover img {
    transform: scale(1.1);
}
.card-body {
    transition: transform 0.5s ease, color 0.2s ease;
}
.card img {
    transition: transform 0.5s ease;
    width: 100%;
}
.card {
    position: relative;
    overflow: hidden;
}