.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px 30px;
}

.element_give_donations .archive_give_donation .summary {
    width: 100%;
    padding-right: 0
}

.avatar-name a {
    height: 75px;

}

@media screen and (min-width: 480px) {
    .ok {
        height: 700px;
    }

    .alp {
        height: 280px;
    }
}

@media screen and (max-width: 480px) {
    .ok {
        height: auto;
    }

    .alp {
        height: auto;
    }
}

/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px 30px;
} */






/* Desing 2 cards */
/* 
.custom-card-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom-card-img {
    transition: transform 0.8s;
    height: 450px;
}

.custom-card-container:hover .custom-card-img {
    transform: scale(1.08);
}

.custom-card-container .card-body {
    flex-grow: 1;
}

.custom-card-container .custom-card-title {
    transition: color 0.8s;
    margin-top: 10px;
}

.custom-card-container:hover .custom-card-title {
    color: orange;
}

.custom-card-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-card-container ul li {
    padding-left: 1.2em;

    margin-bottom: 8px;
    position: relative;
}

.custom-card-container ul li::before {
    content: '\2023';
    color: orange;
    font-size: 1.5em;
    margin-right: 8px;
    position: absolute;

    left: 7px;
    top: 0px;
} */
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.show-all {
    -webkit-line-clamp: unset;
}


.carddesign:hover .carddesign-img-hover {
    transform: scale(1.08);
}





.carddesign-title-hover:hover,
.carddesign-text-hover:hover {
    color: orange !important;
    background-color: white;
}



.HEAD_START {
    text-align: center;
    padding-top: 40px;
    height: auto;
}

#ON_GOING_NAME {
    color: orange;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#IMG_LOGO {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 1s;
}

#IMG_LOGO:hover {
    box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.2);
}

#Clean_Water {
    text-align: center;
    color: red;
    font-size: 20px;
}

#IMG_NAME {
    color: orange;
    font-size: 17px;
}

#CARD_IMG {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#CARD_IMG:hover {
    box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.2);

}

/* --------------------------------- */
/* Desing  */
#CARD_IMG_dynamically {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

#CARD_IMG_dynamically img {
    transition: transform 0.5s ease;
}

#CARD_IMG_dynamically:hover {
    transform: scale(1.1);
}

#CARD_IMG_dynamically:hover img {
    transform: scale(1.2);
}

#IMG_NAME_dynamically {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    color: orangered;
    /* font-weight: bolder; */
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 0;
    transition: background-color 0.5s ease;
}

#CARD_IMG_dynamically:hover #IMG_NAME_dynamically {
    background-color: rgba(0, 0, 0, 0.9);
}












/* Desing 4 cards */
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.show-all {
    -webkit-line-clamp: unset;
    /* Show all lines */
}

.card img {
    transition: transform 0.5s ease;
}

.card img:hover {
    transform: scale(1.08);
}
